In [84]:
import findspark

In [85]:
findspark.add_jars('/app/postgresql-42.1.4.jar')
findspark.init()

In [86]:
from pyspark.sql import SparkSession
spark = (
    SparkSession.builder
    .appName("Stocks:ETL")
    .config("spark.driver.memory", "512m")
    .config("spark.driver.cores", "1")
    .config("spark.executor.memory", "512m")
    .config("spark.executor.cores", "1")
    .config("spark.sql.shuffle.partitions", "2")
    .getOrCreate()
)

In [87]:
from pathlib import Path
import pandas as pd

In [88]:
ds = spark.read.csv('/dataset/BankChurners.csv', header=True)

In [89]:
ds.printSchema()
ds.count()

root
 |-- CLIENTNUM: string (nullable = true)
 |-- Attrition_Flag: string (nullable = true)
 |-- Customer_Age: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Dependent_count: string (nullable = true)
 |-- Education_Level: string (nullable = true)
 |-- Marital_Status: string (nullable = true)
 |-- Income_Category: string (nullable = true)
 |-- Card_Category: string (nullable = true)
 |-- Months_on_book: string (nullable = true)
 |-- Total_Relationship_Count: string (nullable = true)
 |-- Months_Inactive_12_mon: string (nullable = true)
 |-- Contacts_Count_12_mon: string (nullable = true)
 |-- Credit_Limit: string (nullable = true)
 |-- Total_Revolving_Bal: string (nullable = true)
 |-- Avg_Open_To_Buy: string (nullable = true)
 |-- Total_Amt_Chng_Q4_Q1: string (nullable = true)
 |-- Total_Trans_Amt: string (nullable = true)
 |-- Total_Trans_Ct: string (nullable = true)
 |-- Total_Ct_Chng_Q4_Q1: string (nullable = true)
 |-- Avg_Utilization_Ratio: string (nullable = true)

10127

In [90]:
ds=ds.drop('Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1')

In [91]:
ds=ds.drop('Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2')

In [92]:
ds.show()

+---------+-----------------+------------+------+---------------+---------------+--------------+---------------+-------------+--------------+------------------------+----------------------+---------------------+------------+-------------------+---------------+--------------------+---------------+--------------+-------------------+---------------------+
|CLIENTNUM|   Attrition_Flag|Customer_Age|Gender|Dependent_count|Education_Level|Marital_Status|Income_Category|Card_Category|Months_on_book|Total_Relationship_Count|Months_Inactive_12_mon|Contacts_Count_12_mon|Credit_Limit|Total_Revolving_Bal|Avg_Open_To_Buy|Total_Amt_Chng_Q4_Q1|Total_Trans_Amt|Total_Trans_Ct|Total_Ct_Chng_Q4_Q1|Avg_Utilization_Ratio|
+---------+-----------------+------------+------+---------------+---------------+--------------+---------------+-------------+--------------+------------------------+----------------------+---------------------+------------+-------------------+---------------+--------------------+---------------+--------------+-------------------+---------------------+
|768805383|Existing Customer|          45|     M|              3|    High School|       Married|    $60K - $80K|         Blue|            39|                       5|                     1|                    3|       12691|                777|          11914|               1.335|           1144|            42|              1.625|                0.061|
|818770008|Existing Customer|          49|     F|              5|       Graduate|        Single| Less than $40K|         Blue|            44|                       6|                     1|                    2|        8256|                864|           7392|               1.541|           1291|            33|              3.714|                0.105|
|713982108|Existing Customer|          51|     M|              3|       Graduate|       Married|   $80K - $120K|         Blue|            36|                       4|                     1|                    0|        3418|                  0|           3418|               2.594|           1887|            20|              2.333|                    0|
|769911858|Existing Customer|          40|     F|              4|    High School|          null| Less than $40K|         Blue|            34|                       3|                     4|                    1|        3313|               2517|            796|               1.405|           1171|            20|              2.333|                 0.76|
|709106358|Existing Customer|          40|     M|              3|     Uneducated|       Married|    $60K - $80K|         Blue|            21|                       5|                     1|                    0|        4716|                  0|           4716|               2.175|            816|            28|                2.5|                    0|
|713061558|Existing Customer|          44|     M|              2|       Graduate|       Married|    $40K - $60K|         Blue|            36|                       3|                     1|                    2|        4010|               1247|           2763|               1.376|           1088|            24|              0.846|                0.311|
|810347208|Existing Customer|          51|     M|              4|           null|       Married|        $120K +|         Gold|            46|                       6|                     1|                    3|       34516|               2264|          32252|               1.975|           1330|            31|              0.722|                0.066|
|818906208|Existing Customer|          32|     M|              0|    High School|          null|    $60K - $80K|       Silver|            27|                       2|                     2|                    2|       29081|               1396|          27685|               2.204|           1538|            36|              0.714|                0.048|
|710930508|Existing Customer|          37|     M|              3|     Uneducated|        Single|    $60K - $80K|         Blue|            36|                       5|                     2|                    0|       22352|               2517|          19835|               3.355|           1350|            24|              1.182|                0.113|
|719661558|Existing Customer|          48|     M|              2|       Graduate|        Single|   $80K - $120K|         Blue|            36|                       6|                     3|                    3|       11656|               1677|           9979|               1.524|           1441|            32|              0.882|                0.144|
|708790833|Existing Customer|          42|     M|              5|     Uneducated|          null|        $120K +|         Blue|            31|                       5|                     3|                    2|        6748|               1467|           5281|               0.831|           1201|            42|               0.68|                0.217|
|710821833|Existing Customer|          65|     M|              1|           null|       Married|    $40K - $60K|         Blue|            54|                       6|                     2|                    3|        9095|               1587|           7508|               1.433|           1314|            26|              1.364|                0.174|
|710599683|Existing Customer|          56|     M|              1|        College|        Single|   $80K - $120K|         Blue|            36|                       3|                     6|                    0|       11751|                  0|          11751|               3.397|           1539|            17|               3.25|                    0|
|816082233|Existing Customer|          35|     M|              3|       Graduate|          null|    $60K - $80K|         Blue|            30|                       5|                     1|                    3|        8547|               1666|           6881|               1.163|           1311|            33|                  2|                0.195|
|712396908|Existing Customer|          57|     F|              2|       Graduate|       Married| Less than $40K|         Blue|            48|                       5|                     2|                    2|        2436|                680|           1756|                1.19|           1570|            29|              0.611|                0.279|
|714885258|Existing Customer|          44|     M|              4|           null|          null|   $80K - $120K|         Blue|            37|                       5|                     1|                    2|        4234|                972|           3262|               1.707|           1348|            27|                1.7|                 0.23|
|709967358|Existing Customer|          48|     M|              4|  Post-Graduate|        Single|   $80K - $120K|         Blue|            36|                       6|                     2|                    3|       30367|               2362|          28005|               1.708|           1671|            27|              0.929|                0.078|
|753327333|Existing Customer|          41|     M|              3|           null|       Married|   $80K - $120K|         Blue|            34|                       4|                     4|                    1|       13535|               1291|          12244|               0.653|           1028|            21|              1.625|                0.095|
|806160108|Existing Customer|          61|     M|              1|    High School|       Married|    $40K - $60K|         Blue|            56|                       2|                     2|                    3|        3193|               2517|            676|               1.831|           1336|            30|              1.143|                0.788|
|709327383|Existing Customer|          45|     F|              2|       Graduate|       Married|           null|         Blue|            37|                       6|                     1|                    2|       14470|               1157|          13313|               0.966|           1207|            21|              0.909|                 0.08|
+---------+-----------------+------------+------+---------------+---------------+--------------+---------------+-------------+--------------+------------------------+----------------------+---------------------+------------+-------------------+---------------+--------------------+---------------+--------------+-------------------+---------------------+
only showing top 20 rows

In [93]:
ds=ds.withColumnRenamed("CLIENTNUM", "client#")

In [94]:
import pyspark.sql.types as t

In [95]:
import pyspark.sql.functions as f

In [96]:
accounts_schema = t.StructType([
      t.StructField('client#', t.IntegerType(), True)
    , t.StructField('Attrition_Flag', t.StringType(), True)
    , t.StructField('Customer_Age', t.IntegerType(), True)
    , t.StructField('Gender', t.StringType(), True)
    , t.StructField('Dependent_count', t.IntegerType(), True)
    , t.StructField('Education_Level', t.StringType(), True)
    , t.StructField('Marital_Status', t.StringType(), True)
    , t.StructField('Income_Category', t.StringType(), True)
    , t.StructField('Card_Category', t.StringType(), True)
    , t.StructField('Months_on_book', t.IntegerType(), True)
    , t.StructField('Total_Relationship_Count', t.IntegerType(), True)
    , t.StructField('Months_Inactive_12_mon', t.IntegerType(), True)
    , t.StructField('Contacts_Count_12_mon', t.IntegerType(), True)
    , t.StructField('Credit_Limit', t.IntegerType(), True)
    , t.StructField('Total_Revolving_Bal', t.IntegerType(), True)
    , t.StructField('Avg_Open_To_Buy', t.IntegerType(), True)
    , t.StructField('Total_Amt_Chng_Q4_Q1', t.FloatType(), True)
    , t.StructField('Total_Trans_Amt', t.IntegerType(), True)
    , t.StructField('Total_Trans_Ct', t.IntegerType(), True)
    , t.StructField('Total_Ct_Chng_Q4_Q1', t.FloatType(), True)
    , t.StructField('Avg_Utilization_Ratio', t.FloatType(), True)
])

In [97]:
ds.groupBy('Attrition_Flag').count().orderBy('count')

DataFrame[Attrition_Flag: string, count: bigint]

In [98]:
churned = ds.filter(f.col('Attrition_Flag') == "Attrited Customer").count()
total = ds.count()
churned / total

0.1606596227905599

In [99]:
# CÃ¡lculo de proporcion de nulos

In [100]:
ds_nulos = ds.select([f.sum(f.col(c).isNull().cast('integer') / ds.count()).alias(c) for c in ds.columns])

In [101]:
ds_nulos.show()

+-------+--------------+------------+------+---------------+------------------+-------------------+-------------------+-------------+--------------+------------------------+----------------------+---------------------+------------+-------------------+---------------+--------------------+---------------+--------------+-------------------+---------------------+
|client#|Attrition_Flag|Customer_Age|Gender|Dependent_count|   Education_Level|     Marital_Status|    Income_Category|Card_Category|Months_on_book|Total_Relationship_Count|Months_Inactive_12_mon|Contacts_Count_12_mon|Credit_Limit|Total_Revolving_Bal|Avg_Open_To_Buy|Total_Amt_Chng_Q4_Q1|Total_Trans_Amt|Total_Trans_Ct|Total_Ct_Chng_Q4_Q1|Avg_Utilization_Ratio|
+-------+--------------+------------+------+---------------+------------------+-------------------+-------------------+-------------+--------------+------------------------+----------------------+---------------------+------------+-------------------+---------------+--------------------+---------------+--------------+-------------------+---------------------+
|    0.0|           0.0|         0.0|   0.0|            0.0|0.1499950627036608|0.07396069912116164|0.10980547052434148|          0.0|           0.0|                     0.0|                   0.0|                  0.0|         0.0|                0.0|            0.0|                 0.0|            0.0|           0.0|                0.0|                  0.0|
+-------+--------------+------------+------+---------------+------------------+-------------------+-------------------+-------------+--------------+------------------------+----------------------+---------------------+------------+-------------------+---------------+--------------------+---------------+--------------+-------------------+---------------------+

In [106]:
def _drop_nulos(ds, max_nulo_prop=0.5):
    ds_nulos = ds.select([f.sum(f.col(c).isNull().cast('integer') / ds.count()).alias(c) 
                          for c in ds.columns])
    null_cols = [c for c in ds_nulos.columns if ds_nulos.select(c).first()[0] > max_nulo_prop 
                 and c not in PROTECTED_COLS]
    df = ds.drop(*null_cols)
    return ds

In [107]:
PROTECTED_COLS = ['Attrition_Flag']
ds = _drop_nulos(ds)